body{
    margin: 0 15%;
    box-shadow: 0 0 50px;
}   
/* ---------- debut HEADER ------------ */
header{
    background-color: black;
}

header nav{
    display: flex;
    align-items: center;
    padding: 10px;
}
header .logo{
    flex: 1;
}
img[alt="LogoYK"]{
    width: 200px;
}
header ul {
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
header ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
header ul span {
    margin-top: 13px;
    font-size: 10px;
}
header li {
    padding: 0 10px;
}
img[alt="banner-home"]{
   width: 100%;
}
/* ------------- FIN HEADER ---------- */
/* ------------- debut section 1 ---------- */
section:first-of-type{
    display: flex;
   text-align: center;
   padding: 50px;
   
}
img[alt="Logoabout"]{
    width: 200px;
}
section div{
   flex: 1; 
}
/* ------------- FIN section 1 ---------- */
/* ------------- debut section 2 ---------- */
.sc2{
    background-color:rgb(1, 63, 63);
    color: white;
    padding: 30px;
}
.acoter{
    display: flex;
}
.aligner{
    text-align: center;
    display: flex;
}
.acoter div:first-of-type{
    text-align: center;
}
.acoter img{
    width: 100px;
}
.acoter h2{
   font-size: xx-large;
}
.aligner img{
    width: 150px;
}
.aligner button{
    height: 40px;
    width: 150px;
}
/* ------------- FIN section 2 ---------- */
/* ------------- debut section 3 ---------- */
.sc3{
    padding: 30px;
}
.sc3 .aligner button{
    background-color: rgb(1, 63, 63);
    color: white;
    height: 40px;
    width: 150px;
}
/* ------------- FIN section 3 ---------- */
/* ------------- debut Footer ---------- */
footer{
    background-color: black;
    width: 100%;
    display: flex;
    text-align: center;
}
footer div{
    flex: 1;
}
footer p{
    color: white;
    font-size: x-large;
}
footer img{
    height: 50px;
    width: auto;
    padding: 10px;

}
footer span{
    color: white;
    align-self: flex-end;
}
/* ------------- fin Footer ---------- */
@media screen and (max-width : 600px) { 
    body{
        margin: 0;
    }
    header nav{
        
        flex-direction: column;
      
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
    }
 .aligner{
     flex-direction: column;
 }
 .acoter{
     flex-direction: column;
 }
 section:first-of-type{
     flex-direction: column;
 }
footer {
    flex-direction: column;
}
img[alt="Logoabout"]{
    width: 100%;
}
}